[submodule "Novaly"]
	path = Novaly
	url = https://github.com/UCMercedACM/Novaly.git
[submodule "Obvia"]
	path = Obvia
	url = https://github.com/UCMercedACM/Obvia.git
[submodule "Onama"]
	path = Onama
	url = https://github.com/UCMercedACM/Onama.git
[submodule "Pounit"]
	path = Pounit
	url = https://github.com/UCMercedACM/Pounit.git