[submodule "Chapter-Website"]
	path = Chapter-Website
	url = https://github.com/UCMercedACM/Chapter-Website.git
[submodule "Mariposa"]
	path = Mariposa
	url = https://github.com/UCMercedACM/Mariposa.git
[submodule "Tuolumne"]
	path = Tuolumne
	url = https://github.com/UCMercedACM/Tuolumne.git
[submodule "Half-Dome"]
	path = Half-Dome
	url = https://github.com/UCMercedACM/Half-Dome.git
[submodule "Tenaya"]
	path = Tenaya
	url = https://github.com/UCMercedACM/Tenaya.git
[submodule "Cathedral"]
	path = Cathedral
	url = https://github.com/UCMercedACM/Cathedral.git
